build
prebuild
.idea
*/deps/*/Debug/
*/deps/*/Release/
*/deps/*/libproj.lib
*/deps/*/libsqlite.lib
*/deps/**/libproj.lib
*/deps/**/libsqlite.lib
*/build/
*/node_modules/
*/**/build/*
*/.idea/
*/package-lock.json
.DS_Store
.lock-wscript
dist
test/images/*.png
examples/*.png
examples/*.jpg
testing
out.png
out.pdf
out.svg
.pomo
node_modules
package-lock.json

# Vim cruft
*.swp
*.un~
npm-debug.log
