$xs: 450px;
$small: 600px;
$medium: 900px;
$large: 1200px;

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(100% / 5);

  .content {
    padding: 10px;
    border-radius: 4px;

    img {
      object-fit: cover;
    }

    p {
      margin: 5px 0;
    }
  }

  @media screen and (max-width: $medium) {
    width: calc(100% / 4);
  }

  @media screen and (max-width: $small) {
    width: calc(100% / 3);
  }

  @media screen and (max-width: $xs) {
    width: calc(100% / 2);
  }
}
