/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 400px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  color: #fff;
  font-size: 4.5rem;
}

.desc {
  color: #fff;
}

.button {
  background-color: var(--ifm-color-primary);
  border: none;
  color: #fff;
}

.productHunt {
  margin-left: 20px;
  width: 220px;
  height: 45px;
}

@media screen and (max-width: 480px) {
  .productHunt {
    margin-top: 10px;
    margin-left: 0;
  }
}
